{% load bootstrap3 i18n %}

<div class="modal-header">
    <h4 class="modal-title" id="prevent-quitting-label">{% trans "Add dissertation reader" %}</h4>
</div>
<div class="modal-body" id="form-modal-body">
    <form method="POST" id="form-modal" class="post-form" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <div class="row">
            {% bootstrap_field form.adviser form_group_class="form-group col-md-6 col-lg-push-2" %}
        </div>
    </form>
    {{ form.media }}

</div>
<div class="modal-footer" style="text-align:right">
    <button type="submit" class="save btn btn-primary" onclick="$('#form-modal').submit();">{% trans 'Save' %}</button>
</div>